# Script which should contains initial environment variables
#
# It will be mounted at runtime, loaded, so that the initial_project, gets them to initialize credentials.
#
# This sample file have to be created as 'jenkins_credentials.sh'

export SEED_JOBS_REPO=https://github.hpe.com/YourOrganization/YourRepo.git
export GIT_USERNAME=YourAccount
# OAUTH github token
export GIT_PASSWORD=123cb123a1f1234a1fa1234b1f12345bc1c12e12
