multibranchPipelineJob('{{ .Name }}') {
  description('Folder for Project {{ .Name }} generated and maintained by Forjj. To update it use forjj update')
  branchSources {
{{ if eq .SourceType "github" }}\
      github {
          apiUri('{{ .Github.ApiUrl }}')
          includes('*')
          repoOwner('{{ .Github.RepoOwner }}')
          repository('{{ .Github.Repo }}')
      }
{{ end }}\
{{ if eq .SourceType "git" }}\
      git {
          remote('{{ .Git.RemoteUrl }}')
          includes('*')
      }
{{ end }}\
  }
  orphanedItemStrategy {
      discardOldItems {
          numToKeep(20)
      }
  }
}
